body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: -40px;
}

header .container {
    text-align: center;
    height: 100%;
    width: 500px;
    margin-top: -190px;
    
}

#title {
    padding-right: 20px;
    width: 500px;
    margin-left: 140px;
    margin-top: -110px;
    font-size: 42px;
    font-family: 'Open-Sans', 'Omnes';
}

section {
    width: 500px;
    margin-left: 145px;
    margin-top: 15px;
}

#paragraph {
    font-size: 16px;
    width: 650px;
}

.blue {
    color: #3F51B5;
    margin-top: 30px;
    letter-spacing: 0.1em;
    width: 500px;
}

.other-paragraphs {
    margin-top: 30px;
    letter-spacing: 0.1em;
    margin-top: 50px;
}

#form {
    float: right;
    margin-top: -460px;
    box-shadow: -6px 3px 27px -12px rgba(0,0,0,0.75);
    width: 500px;
    padding: 30px 30px;
    margin-right: 40px;
    border-radius: 15px;
    font-family: 'Open-Sans', 'Omnes';
}

.form-text h2 {
    font-size: 20px;
    width: 90%;
    line-height: 25px;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"]{
    width: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    outline: 0;
}

form button {
    background-color: #25CCF7;
    color: white;
    width: 80%;
    border-radius: 15px;
    border: none;
    height: 35px;
    margin-top: 15px;
}

h3 {
    margin-top: 70px;
    margin-left: 390px;
    width: 500px;
    color: #3F51B5;
    font-size: 26px;
    font-family: 'Open-Sans', 'Omnes';
}

.paragraph-2 {
    text-align: center;
    font-size: 16px;
    font-family: 'Open-Sans', 'Omnes';
    width: 470px;
    margin-left: 300px;
    margin-top: 20px;
}

#icon-wraper {
    margin-top: 70px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 430px;
}

.wraper {
    width: 50%;
    margin-bottom: 30px;
    
}
