@font-face {
    font-family: 'Omnes';
    src: url('../fonts/omnes.eot');
    src: url('../fonts/omnes.woff') format('woff'),
         url('../fonts/omnes.ttf')  format('truetype');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header .container {
    text-align: center;
    width: 500px;
    margin-top: -20vh;
}

header img {
    max-width: 80%;   
}

.quote {
    margin-top: -20px;
    margin-left: 5px;
}

.title {
    padding-right: 20px;
    width: 500px;
    margin-left: 120px;
    margin-top: -110px;
    font-size: 42px;
}

h1 {
    font-family: 'Omnes';
    font-weight: 600;
    color: #1C234F;
    line-height: 65px;
}

section {
    width: 500px;
    margin-left: 120px;
    margin-top: 15px;
}

.paragraph {
    font-size: 20px;
    width: 650px;
}

.blue {
    font-family: 'Omnes';
    color: #3F51B5;
    margin-top: 30px;
    letter-spacing: 0.1em;
    width: 520px;
}

.other-paragraphs {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 27px;
    width: 580px;
    color: #616161
}

#form {
    float: right;
    margin-top: -73vh;
    box-shadow: -6px 3px 27px -12px rgba(0,0,0,0.75);
    width: 500px;
    padding: 30px 30px;
    margin-right: 80px;
    border-radius: 15px;
}

.form-text h2, .form-text-2 h2 {
    font-size: 20px;
    color: #1C234F;
    font-family: 'Open Sans';
    width: 90%;
    line-height: 33px;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"] {
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    outline: 0;
    background: #FFFFFF;
    border: 1px solid #D4D8EB;
    border-radius: 14px;
}

form button {
    background-color: #25CCF7;
    color: white;
    width: 90%;
    border-radius: 44px;
    border: none;
    height: 56px;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
}

form button img { margin-right: 30px;}

h3 {
    font-family: 'Omnes';
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    margin-top: 70px;
    margin-left: 65vh;
    width: 500px;
    color: #1C234F;
}

.home-office {
    background-image: url("../images/home-office-bg.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}

.paragraph-2 {
    text-align: center;
    font-size: 16px;
    width: 560px;
    margin-left: 280px;
    margin-top: 20px;
    font-family: Open Sans;
    line-height: 27px;
}

#icon-wraper {
    margin-top: 70px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 400px;
}

.wraper {
    width: 50%;
    margin-bottom: 30px;
}

.wraper p {
    color: #1C234F;
    margin-left: 30px;
    margin-top: 10px;
}

.wraper img {
    height: 10%;
    width: 10%;
} 


#form-2 h2 {
    margin-top: 90px;
    font-size: 20px;
    width: 420px;
}

#form-2 form {
    margin-top: 20px;
}

.draw {
    position: absolute;
    max-width: 50%;
    left: 45vw;
    top: 80vw;
    height: auto;
}

footer {
    color: #3F51B5;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    margin-top: 120px;
}

#title-ty {
    padding-right: 20px;
    width: 500px;
    margin-left: 180px;
    margin-top: -110px;
}

.title-main-ty h1 {
    font-size: 30px;
}

.social-icons {
    margin-top: 60px;
    margin-left: 50px;
}

.social-icon {
    margin-left: 20px;
}

.blue-success {
    position: absolute;
    left: 55vw;
    top: 20vh;
}

#paragraph-ty {
    font-size: 20px;
    width: 650px;
    margin-left: 180px;
    width: 400px
}

.other-paragraphs-ty p {
    margin-top: 30px;
}


@media(max-width: 992px) {

    img {
	    display: flex;
        align-items: center;
    }

    h1 {
        position: relative;
        width: 100%;
        
    }

    main {
        text-align: center;
        display: flex;
        width: 100%;
    }
    
    #form {
        margin-top: 100px;
        margin-right: 250px;
        margin-left: 40px;
        width: 50%;
        padding: 20px 2%;
    }

    form {

    }

    button img {
        display: none;
    }

    .home-office {
        padding: 20px;
    }

    .subtitle h3 {
        padding-top: 40px;
        margin-top: 110px;
        margin-right: 100px;
        display: inline-block;
        padding-right: 80x;
        justify-content: space-between;
        margin-left: 60px;
    }

    #paragraph-2 p{
        align-items: center;
        margin-right: 100px;
        width: 100%;
        
    }

    .quote {
        display: none;
    }

    .wraper {
        display: none;
    }

    .blue-success {
        display: none
    }
 }

 @media (max-width: 768px) {

    #title {
        width: 50%;
        display: flex;
        position: relative;
        margin-left: 200px;
    }

    img {
        display: flex;
        margin-left: 100px;
    }

    button img {
        display: none;
    }

    .blue {
        width: 50%;
        margin-left: 80px;
        
    }

    .other-paragraphs {
        width: 50%;
        margin-left: 80px;
    }

    .quote {
        display: none;
    }

    #form {
        margin-top: 100px;
        margin-right: 110px;
        margin-left: 30px;
        width: 50%;
        padding: 20px 2%;
        
    }

    .paragraph-2 p  {
        margin-right: 100px;
        width: 100%;
        margin-left: -310px;
        
    }

    .subtitle h3 {
        padding-top: 40px;
        margin-top: 110px;
        margin-right: 100px;
        display: inline-block;
        padding-right: 80x;
        justify-content: space-between;
        margin-left: 60px;
    }

    .wraper {
        display: none;
    }

    .blue-success {
        display: none
    }
 }

 @media (max-width: 580px) {

    #title {
        width: 90%;
        display: flex;
        position: relative;
        margin-left: 120px;
    }

    img {
        display: flex;
        margin-left: 60px;
        
    }

    #form {
        margin-top: 100px;
        margin-right: -90px;
        margin-left: 800px;
        width: 80%;
        padding: 10px 2%;
        
    }

    h1 {
        position: relative;
        width: 100%;
    }


    .blue {
        width: 50%;
        margin-left: 15px;
        position: relative;
    }

    .other-paragraphs {
        width: 50%;
        margin-left: 15px;
        position: relative;
    }

    .quote {
        display: none;
    }

    button img {
        display: none;
    }

    .subtitle h3 {
        padding-top: 40px;
        margin-top: 110px;
        margin-right: 100px;
        display: inline-block;
        padding-right: 80x;
        justify-content: space-between;
        margin-left: 15px;
    }

    .paragraph-2 p  {
        margin-right: 100px;
        width: 50%;
        margin-left: -290px;
    }
    
    .wraper {
        display: none;
    }

    .blue-success {
        display: none
    }

    #paragraph-ty {
        width: 100%;
        
    }

    .other-paragraphs-ty p {
        display: flex;
    }

    #form-2 {
        margin-top: 100px;
        margin-right: 30px;
        margin-left: 120px;
        width: 100%;
        padding: 20px 10%;
        align-items: center;
    }

    .form-text-2 h2 {
        width: 50%;
        position: relative;
        display: block;
        padding: 30px 20%;
        margin-right: 500px;
        margin-left: -50px;
    }

    footer {
        width: 50%;
        display: flex;
        
        margin-left: 190px;
    }


 }
